@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Ubuntu:400,700');
html,
body {
	font-family: Ubuntu, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	background-color: #000;
}

::selection {
	background: rgba(131, 174, 229, .5);
}

::-moz-selection {
	background: rgba(131, 174, 229, .5);
	/* Gecko Browsers */
}

video::-internal-media-controls-download-button {
	display: none;
}

video::-webkit-media-controls-enclosure {
	overflow: hidden;
}

video::-webkit-media-controls-panel {
	width: calc(100% + 30px);
	/* Adjust as needed */
}

.maincont {
	position: relative;
}

.vinfo {
	position: absolute;
	z-index: 300;
	top: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(black, transparent);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, transparent);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, transparent);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(black, transparent);
	/* Standard syntax */
}

.vinfo div {
	padding: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 500;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vinfo div:first-child {
	float: left;
}

.vinfo #infobtn {
	float: right;
}

.vinfo #infobtn a {
	font-size: 40px;
	color: #fff !important;
	text-decoration: none;
}

.vinfo div:last-child a {
	color: #fff;
	text-decoration: none;
}

video {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
}

.vcontainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#controls {
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	z-index: 6000;
	background: -webkit-linear-gradient(transparent, black);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(transparent, black);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(transparent, black);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(transparent, black);
	/* Standard syntax */
}

#controls table {
	width: 100%;
}

#controls table td {
	vertical-align: top;
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 38px;
}

#seekbar {
	-webkit-appearance: none;
	background: linear-gradient(to right, #B259E8 0%, #B259E8 0%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .1) 62.5%);
	cursor: pointer;
	height: 4px;
	margin: 0;
	transitionx: 0.1s ease-in;
	vertical-align: bottom;
	width: 100%;
	margin-top: 2.8px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #aeaeae;
	border-radius: 8px;
	box-shadow: inset 0 0 0 5px #eaeaea;
	height: 0;
	transitionx: 0.1s ease-in;
	width: 0;
}

.wrap:hover input[type=range]::-webkit-slider-thumb,
.wrap.hover input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
}

.loaded input[type=range],
.loaded input[type=range]::-webkit-slider-thumb {
	transition: 0.1s ease-in;
}

.wrap:hover input[type=range],
.wrap.hover input[type=range] {
	height: 8px;
}

input[type=range]::-moz-slider-thumb {
	-webkit-appearance: none;
	background: #aeaeae;
	border-radius: 8px;
	box-shadow: inset 0 0 0 5px #eaeaea;
	height: 0;
	transitionx: 0.1s ease-in;
	width: 0;
}

.wrap:hover input[type=range]::-moz-slider-thumb,
.wrap.hover input[type=range]::-moz-slider-thumb {
	width: 16px;
	height: 16px;
}

.loaded input[type=range],
.loaded input[type=range]::-moz-slider-thumb {
	transition: 0.1s ease-in;
}

#volumebar {
	-webkit-appearance: none;
	background: linear-gradient(to right, #B259E8 100%, #B259E8 100%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .5) 62.5%);
	cursor: pointer;
	height: 4px;
	margin: 0;
	transitionx: 0.1s ease-in;
	vertical-align: bottom;
	width: 100%;
	margin-top: 2.8px;
}

:focus {
	outline: none;
}

#playpause {
	float: left;
}

#volume {
	font-size: 20px;
	padding-top: 0;
}

#bigplay {
	width: 90px;
	height: 90px;
	padding: 0;
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 8000;
	border-radius: 50%;
	border: 3px solid #fff;
	background-image: url('../play-icon.svg');
	background-size: 42px 42px;
	background-position: 28px center;
	background-repeat: no-repeat;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#error {
	position: fixed;
	margin: auto;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 50%;
	color: #fff;
	z-index: 8000;
	font-size: 150%;
	text-align: center;
	line-height: 40px;
}

.time {
	width: 30px;
	padding-top: 14px !important;
}

#current {
	padding-right: 10px;
}

#duration {
	padding-left: 13px;
	padding-right: 5px;
}

.load {
	border-bottom: 6px solid rgba(255, 255, 255, .4);
	border-left: 6px solid rgba(255, 255, 255, .4);
	border-right: 6px solid rgba(255, 255, 255, .4);
	border-top: 6px solid rgba(255, 255, 255, .8);
	border-radius: 100%;
	height: 30px;
	width: 30px;
	-webkit-animation: rot .6s infinite linear;
	animation: rot .6s infinite linear;
	position: fixed;
	margin: auto;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 50%;
	z-index: 600000000;
}

.large {
	height: 50px;
	width: 50px;
}

.small {
	height: 20px;
	width: 20px;
}

#refresh {
	position: fixed;
	margin: auto;
	top: 49%;
	left: 0;
	right: 0;
	bottom: 50%;
	z-index: 800;
	font-size: 80px;
	text-align: center;
}

#sharemodal {
	box-shadow: 0 2px 4px rgba(100, 100, 100, .5);
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 10px;
	text-align: center;
}

@-webkit-keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@media only screen and (max-device-width: 480px) {
	#bigplay {
		visibility: hidden;
	}
}

/* Tooltips */


/* Add this attribute to the element that needs a tooltip */

[tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}


/* Hide the tooltip content by default */

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}


/* Position tooltip above the element */

[tooltip]:before {
	position: absolute;
	bottom: 90%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -45%;
	padding: 7px;
	width: auto;
	border: .5px solid #555;
	font-weight: bold !important;
	/*   -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; */
	background-color: rgba(0, 0, 0, .9);
	/*box-shadow: 0 2px 4px rgba(100, 100, 100, .5);*/
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[tooltip]:after {
	position: absolute;
	bottom: 90%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	opacity: 0 !important;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0, 0, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}


/* Show tooltip content on hover */

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Fixes */
#fullscreen:before {
margin-left: -100px;
}
#mute:before {
margin-left: -25px;
}
